* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Courier New", Courier, monospace;
}

fieldset {
  width: 100%;
  margin: 2px;
  border: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
}
fieldset legend,
input {
  position: absolute;
  left: -9999px;
}
fieldset p {
  border: 1px black solid;
  width: 100%;
  margin-right: 1px;
  text-align: center;
  background-color: aquamarine;
}
header section:active {
  background-color: black;
  color: white;
}

li {
  margin: 1rem 2rem;
}

table {
  margin: 2rem 2px 2px 2px;
  width: 100%;
  font-size: 0.5rem;
  position: relative;
}

table,
th,
td {
  border: 1px solid black;
}
